Flask
PyMySQL
cryptography
Pillow
Werkzeug
Jinja2
Flask-Session
Flask-Mail
pdfkit
openpyxl
lxml
xhtml2pdf
reportlab
PyYAML
requests
pypdf
pyhanko
pycairo
tinycss2
cssselect2
html5lib
six
python-bidi
arabic-reshaper
tzlocal
tzdata
uritools
cffi
pycparser
asn1crypto
oscrypto
colorama
packaging
typing_extensions
